

<ion-content fullscreen scroll-y="false">
  <ion-slides pager [options]="slideOpts">


    <!-- Onboarding-->
    <ion-slide>
      <div class="section_one">
      </div>

      <div class="section_two">
        <img class="ion-padding" src="assets/images/onbroading.jpg" />
      </div>

      <div class="section_three">
        <p class="ion-padding"></p>

        <!-- Get Started Button -->
        <div class="ion-padding">
          <ion-button expand="block" color="color1" routerLink="/landing" routerDirection="root">Get Started
          </ion-button>
        </div>

      </div>
    </ion-slide>

  </ion-slides>
</ion-content>
