<!-- Header -->
<ion-header class="ion-no-border">
  <ion-toolbar color="color1">
    <!-- Back to previous page -->
    <ion-buttons slot="start">
      <ion-back-button
        color="white"
        default-href=""
        (click)="dismiss()"
        text=""
        icon="arrow-back"
      >
      </ion-back-button>
    </ion-buttons>

    <!-- Title -->
    <ion-title></ion-title>

    <!-- Cart Page Button -->
    <ion-buttons slot="end">
      <ion-button color="white" (click)="gotoCartPage()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Main Contents of Page -->
<ion-content id="product-details" fullscreen>

  <!-- Slider of Product Images -->
  <ion-slides pager="true" [options]="slideOpts">
      <img [src]="image" />

      <!-- Wish Button or Product Like/Dislike Button Option -->
      <ion-fab vertical="top" horizontal="end">
        <ion-fab-button>
          <ion-icon
            color="color1"
            name="heart-outline"
            *ngIf="!isWishlist"
          ></ion-icon>
          <ion-icon color="color1" name="heart" *ngIf="isWishlist"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  </ion-slides>

  <!-- Product Price -->
  <ion-row class="ion-padding">
    <ion-text color="color1" class="price">€{{ price }} EURO</ion-text>
  </ion-row>

  <!-- Product Name -->
  <ion-row class="ion-padding-start product-name">
    <ion-text>{{ description }}</ion-text>
  </ion-row>

  <!-- Product Description -->
  <ion-row class="ion-padding">
    <ion-text color="medium" [innerHTML]="description"></ion-text>
  </ion-row>

  <!-- Footer -->
  <ion-footer class="ion-no-border">
    <ion-toolbar class="ion-padding" transparent>
      <!-- Add To Cart Button -->
      <ion-button
        class="add-to-cart"
        color="color1"
        expand="block"
        (click)="addToCart()"
        >ADD TO CART
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
