<!-- Top Banner Slider -->
<div id="top-slider" class="ion-padding">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="../../../../../../Github%20Fontys/toffer2/toffer/src/assets/images/banner-1.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="../../../../../../Github%20Fontys/toffer2/toffer/src/assets/images/banner-2.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="../../../../../../Github%20Fontys/toffer2/toffer/src/assets/images/banner-3.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="../../../../../../Github%20Fontys/toffer2/toffer/src/assets/images/banner-4.jpg" />
    </ion-slide>
  </ion-slides>
</div>
