#cart {
  .item {
    ion-thumbnail {
      width: 140px;
      height: 90px;

      img {
        width: 140px;
        height: 90px;
        border-radius: 5px;
      }
    }


    ion-note {
      font-size: 1.3rem;
      font-weight: 600;
    }
  }

  #empty {

    h4 {
      color: #888888;
      font-weight: bolder;
    }

    p {
      color: #888888;
    }
  }
}

#cartTitle {
  color: black;
  font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#inputQuantity{
  align-items: center;
}
ion-footer {

  ion-toolbar {
    --background-color: transparent;
    --ion-color-base: transparent !important;
  }

  ion-button {
    --box-shadow: -1px 1px 17px -3px white;

  }

  #checkout {
    background-color: #2fb54f;

  }

  #backButton {
    color: #a1a1a1;
  }


}
